* {
  padding: 0;
  margin: 0;
}

.presentacion {
  max-width: 50vw;
  display: inline-block;
  padding: 5%;
  border: 1px solid red;
  margin: 5%;
}

h4, h5, h6 {
  color: #80cc8a;
}

div h5 {
  color: #832bf7;
}
div h4 {
  color: aquamarine;
}

.alineacion {
  text-align: center;
}